# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [23]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [24]:
path='data/apple_store.csv'

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [25]:
data=pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [26]:
data.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

### 6. Print the number of columns in the data.

In [28]:
len(data.columns)

9

### 7. Print all column names.

In [29]:
data.columns

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [30]:
len(data.index)

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [31]:
data.user_rating

0       4.0
1       4.0
2       3.5
3       4.0
4       4.5
       ...
7192    4.5
7193    4.5
7194    4.5
7195    4.5
7196    5.0
Name: user_rating, Length: 7197, dtype: float64

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [32]:
data.user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [33]:
user_rating_high=data[data.user_rating >=4]

Now obtain the length of `user_rating_high` which should return 4781.

In [34]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [35]:
genres=data.prime_genre.unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [36]:
len(genres)

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [37]:
data.prime_genre.value_counts().head(3)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [38]:
free_apps=data[data['price']==0]
free_apps.prime_genre.value_counts()

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [39]:
(free_apps.prime_genre.value_counts() /len(free_apps.prime_genre.value_counts()))/100

Games                0.981304
Entertainment        0.145217
Photo & Video        0.072609
Social Networking    0.062174
Education            0.057391
Shopping             0.052609
Utilities            0.047391
Lifestyle            0.040870
Finance              0.036522
Sports               0.034348
Health & Fitness     0.033043
Music                0.029130
Book                 0.028696
Productivity         0.026957
News                 0.025217
Travel               0.024348
Food & Drink         0.018696
Weather              0.013478
Business             0.008696
Reference            0.008696
Navigation           0.008696
Catalogs             0.003913
Medical              0.003478
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [40]:
#me falta solucionar este
data['average_price']=data['price'].mean()
data['average_price']

0       1.726218
1       1.726218
2       1.726218
3       1.726218
4       1.726218
          ...
7192    1.726218
7193    1.726218
7194    1.726218
7195    1.726218
7196    1.726218
Name: average_price, Length: 7197, dtype: float64

In [50]:
data[['average_price', 'prime_genre']].sort_values('average_price', ascending=False).groupby('prime_genre').head(2).reset_index()

    index  average_price        prime_genre
0       0       1.726218              Games
1    4724       1.726218              Games
2    4806       1.726218      Entertainment
3    4799       1.726218              Music
4    4796       1.726218      Entertainment
5    4793       1.726218               Book
6    4792       1.726218             Sports
7    4788       1.726218             Sports
8    4787       1.726218       Food & Drink
9    4809       1.726218  Social Networking
10   4823       1.726218      Photo & Video
11   4831       1.726218      Photo & Video
12   4826       1.726218               Book
13   4781       1.726218            Weather
14   4779       1.726218              Music
15   4736       1.726218       Food & Drink
16   4729       1.726218          Education
17   4777       1.726218       Productivity
18   4753       1.726218            Finance
19   4762       1.726218            Weather
20   4758       1.726218            Finance
21   4835       1.726218          Education
22   4907       1.726218          Lifestyle
23   4911       1.726218          Lifestyle
24   4944       1.726218          Utilities
25   4940       1.726218  Social Networking
26   4938       1.726218       Productivity
27   4932       1.726218   Health & Fitness
28   4892       1.726218             Travel
29   4838       1.726218   Health & Fitness
30   4879       1.726218          Utilities
31   4877       1.726218               News
32   4872       1.726218            Medical
33   4571       1.726218           Business
34   4514       1.726218             Travel
35   4548       1.726218               News
36   4678       1.726218           Shopping
37   4720       1.726218           Shopping
38   4666       1.726218         Navigation
39   4651       1.726218          Reference
40   4644       1.726218            Medical
41   5184       1.726218         Navigation
42   5340       1.726218           Business
43   5145       1.726218           Catalogs
44   3899       1.726218           Catalogs
45   3892       1.726218          Reference